body{
    background-color: aqua;


}
.redireccionar, .pagina_principal {
    color: rgb(181, 58, 126);
    font-size: 30px;
    text-decoration: none;

}
.redireccionar:hover{
text-decoration: underline 5px rgb(17, 67, 184);
}

.redireccionar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.pagina_principal{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
